{% extends "base.html" %}

{% block title %}Getting Started{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1>Getting Started</h1>
        <p>This is the Getting Started page of your website.</p>
        <p>Trying Python - resources to try Python in a browser.</p>
        <p>Chat with us - IRC resources to pyladies and sandiegopython</p>
        <p>Set up a development environment</p>
        <p>Separate install instructions for web and scientific programming</p>
    </div>
</div>
{% endblock %}